<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Certificate</title>
    <style>
        .container{
            margin: 0 10%;
        }
        td{
            padding: 5px 7px;
        }
    </style>
</head>
<body>
    <div class="container">
        <center>
            <div>Republic of the Philippines</div>
            <div>Province of Region 18</div>
            <div>Municipality of Ila</div>
            <h3>Barangay Hehi 2</h3>
            <hr>
            <div style="margin-top: 50px;">Office of the Barangay Captain</div>
            <h1 style="margin-top: 1px;">BARANGAY BUSINESS PERMIT</h1>
        </center>
        <center>
            <table style="border-spacing: 1em;">
                <tr>
                    <td>Propietor:</td>
                    <td><%=owner%></td>
                </tr>
                <tr>
                    <td>Permit Number:</td>
                    <td><%=permit_number%></td>
                </tr>
                <tr>
                    <td>Business Name:</td>
                    <td><%=business_name%></td>
                </tr>
                <tr>
                    <td>Business Address:</td>
                    <td><%=business_address%></td>
                </tr>
                <tr>
                    <td>Valid Until:</td>
                    <td><%=validity%></td>
                </tr>
            </table>
        </center>

        <p style="margin-top: 10px; text-indent: 2em;">
            The issued permit is subject to existing rules and regulations.
        </p>
        <p style="margin-top: 10px; text-indent: 2em;">
            This is non-transferable and shall be deemed null and void upon failure by the owner to follow the said rules and regulations set forth by the Local Goverment Unit of Hehi 2, Ila.
        </p>
        <p style="margin-top: 10px; text-indent: 2em;">
            Issued this <%=day%> of <%=month%>, <%=year%> at Barangay Hehi 2, Ila, Region 18.
        </p>

        <div style="margin-top: 100px; width: 100%; text-align: right;">
            <strong><%=captain%></strong>
            <div>Barangay Captain</div>
        </div>

        <center style="margin-top: 60px;">
            <h3 style="margin-bottom: 2px;">For verification, please scan this code.</h3>
            <img src="<%=file%>" alt="QRCode"">
        </center>
    </div>
</body>
</html>