<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate of Indigency</title>
    <style>
        .container{
            margin: 0 10%;
        }
    </style>
    <style media="print">
        .container{
            margin: 5% 10%;
        }
        @page{
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <center>
            <div>Republic of the Philippines</div>
            <div>Province of Region 18</div>
            <div>Municipality of Ila</div>
            <h3>Barangay Hehi 2</h3>
            <hr>
            <div style="margin-top: 50px;">Office of the Barangay Captain</div>
            <h1 style="margin-top: 1px;">CERTIFICATE OF INDIGENCY</h1>
        </center>
        <h3 style="margin-top: 50px;">TO WHOM IT MAY CONCERN,</h3>
        <p style="margin-top: 50px; text-indent: 2em;">
            This is to certify that <strong><%=name%></strong>, <%=age%> years old, <%=civil_status%>, <%=nationality%>, is a bonafide resident of <%=current_street%>, Baranay Hehi 2, Ila, and belongs to the extremely poor families of this barangay.
        </p>
        <p style="margin-top: 50px; text-indent: 2em;">
            This certification is issued upon the request of the above mentioned name for whatever legal intent or purpose it may serve.
        </p>
        <p style="margin-top: 50px; text-indent: 2em;">
            Issued this <%=day%> of <%=month%>, <%=year%> at Barangay Hehi 2, Ila, Region 18.
        </p>

        <div style="margin-top: 100px; width: 100%; text-align: right;">
            <strong><%=captain%></strong>
            <div>Barangay Captain</div>
        </div>

        <center style="margin-top: 60px;">
            <h3 style="margin-bottom: 2px;">For verification, please scan this code.</h3>
            <img src="<%=file%>" alt="QRCode"">
        </center>
    </div>
</body>
</html>